<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/footer.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="homePage">
    </div>    
    <div class="homepageHeader">
        <!-- <h2>Welcome to Task Tracker</h2> -->
        <a class="btn btn-lg btn-info" href="/todos" style="border: #1b2e31; background-color: #1b2e31;">Get Started</a>
    </div>
</body>
</html>
