body{
    /* background-color: #0b1d2f; */
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.homePage{
    height: 100%;
     width: 100% ; 
    background: url('taskTracker.jpg') no-repeat center;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center;  */
    background-size: cover;
}

.homepageHeader{
    color: white;
    position: absolute;
    top: 70vh;
    left: 45%;

    /* margin: 25vw auto; */
}

.footer{
    /* position: absolute; */
    bottom : 0; 
    width: 100%;
    height: 30px;
    background-color: #343a40;   
}

.content{
    min-height: calc(100vh - 86px);
}

.editTodo{
    padding-top: 3em;
    margin: 0 auto;
    background: #AEA;
    box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
}

/* .list-group-item-veryUrgent{
    background-color: rgba(181,12,72,0.8);
} */

.list-group-item-warning{
    background-color: #f8db84;
}

/* .todoComplete{
    width: 14px;
    height: 14px;
    cursor: pointer;
} */

.todos{
    overflow-y: hidden;
    display: flex;
    margin: 3px;
    height: 43px;
}

.active{
    height: auto;
}

li.active .title{
    font-size: x-large;
}